* {
  margin: 0;
  padding: 0;
}
/* form css part */
.head1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: space-around;
}
.personal-info {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}
textarea {
  border: 2px solid blueviolet;
}
input {
  width: fit-content;
  border: 2px solid blueviolet;
}
.professional-info {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}

.userSkill,
.userSkills,
.certiText,
.langText,
.weText,
.aqText {
  border: 2px solid blueviolet;
  margin: 5px;
}
.end {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
#we {
  display: flex;
  flex-direction: column;
}
#aq {
  display: flex;
  flex-direction: column;
}
#lang {
  display: flex;
  flex-direction: column;
}
#certi {
  display: flex;
  flex-direction: column;
}
#Skill {
  display: flex;
  flex-direction: column;
}
img {
  height: 10em;
  padding: 15px;
}
.last-btn {
  display: flex;
  gap: 1rem;
  margin: 0 35px 25px 35px;
}
@media (max-width: 550px) {
  .container {
    display: block;
  }
  .last-btn {
    display: flex;
    justify-content: center;
  }
  img {
    height: 8em;
  }
  .userSkill,
  .userSkills,
  .certiText,
  .langText,
  .weText,
  .aqText {
    border: 2px solid blueviolet;
    margin: 5px;
    width: 260px;
  }
  textarea {
    border: 2px solid blueviolet;
    width: 260px;
  }
}
/* #form {
  display: none;
} */

/* template css part */
#main-template {
  margin: 80px;
  display: none;
}
#template {
  display: flex;
}

.left-side-template {
  background-color: cadetblue;
}
.right-side-template h1 {
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark-mode {
  background-color: rgb(44, 41, 41);
  color: white;
}

/* form2 css */
.head {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.personal-data {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.left-personal-data {
  display: flex;
  gap: 30px;
}
.right-personal-data {
  display: flex;
  gap: 30px;
}
.linkedIn {
  display: flex;
  align-items: center;
}
.linkedIn img {
  width: 50px;
  height: 50px;
}
.mob-number {
  display: flex;
  align-items: center;
}
.mob-number img {
  width: 50px;
  height: 50px;
}

.email-data {
  display: flex;
  align-items: center;
}
.email-data img {
  width: 50px;
  height: 50px;
}
.addressData {
  display: flex;
  align-items: center;
}
.addressData img {
  width: 50px;
  height: 50px;
}
.education-all {
  display: flex;
  justify-content: space-around;
  padding: 2px 30px;
}
h2 {
  color: rgb(48, 194, 146);
}

.main-container {
  display: none;
}
#userSkill2 li {
  color: red;
  list-style: none;
}
#userSkill2 {
  display: flex;
  gap: 10px;
}
.colRed {
  background-color: red;
  color: white;
}
#userMail2,
#userLinked2,
#userNum2,
#userAdd2 {
  text-decoration: none;
  color: black;
}
@media (max-width: 550px) {
  .head {
    display: flex;
    flex-direction: column;
  }
  .head img {
    justify-content: center;
  }
  .personal-data {
    display: flex;
    flex-direction: column;
  }
  .left-personal-data {
    display: flex;
    flex-direction: column;
  }
  .right-personal-data {
    display: flex;
    flex-direction: column;
  }
  #main-template {
    margin: 20px;
  }
  .education-all {
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
  }
  .printBtn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 5rem;
  }
  #max-temp {
    display: flex;
    justify-content: center;
  }
}
